/********************************************
    GENERAL STYLES
********************************************/

/* Custom PROPERTIES */
:root {
  --primary-color: #1abc9c;
  --header-color: #2c3e50;
  --hero-color: #1abc9c;
  --portfolio1-color: #ba4b63;
  --portfolio2-color: #1ea4b6;
  --portfolio3-color: #140f0f;
  --portfolio4-color: #1c83c1;
  --portfolio5-color: #0e38b5;
  --portfolio6-color: #ccb2a3;
  --about-color: #1abc9c;
  --footer-color: #3a546d;
  --copyright-color: #2c3e50;
}

/* Generics */
body {
  color: white;
}

a {
  color: white;
}

a:hover {
  color: lightgray;
}
h1 {
  font-weight: 600;
  font-size: 40px;
}
h2 {
  font-size: 32px;
  font-weight: 600;
}
h3 {
  font-size: 22px;
}
.fa-star {
  font-size: 36px;
}
hr {
  border: 2px solid white;
  opacity: 1;
}

/********************************************
    UTILITIES
********************************************/

/* Layout */

.debug {
  border: 2px dotted red;
}
.h-min-remove {
  height: 100px;
}

/* header */
.navbar-brand {
  font-weight: 900;
  font-size: 1.2rem;
}
.nav-link {
  color: white;
}
.navbar-collapse {
  flex-grow: 0;
}

/* hero */
.hero {
  background-color: var(--hero-color);
}
.hero .row {
  height: 100%;
}
.hero-img {
  width: 70%;
  margin: 0 auto;
}

/* portfolio */
.portfolio {
  color: #2c3e50;
}
.portfolio .row .col > hr {
  border-color: #2c3e50;
}
.portfolio-1 {
  background-color: var(--portfolio1-color);
  overflow: hidden;
}
.portfolio-2 {
  background-color: var(--portfolio2-color);
  overflow: hidden;
}
.portfolio-3 {
  background-color: var(--portfolio3-color);
  overflow: hidden;
}
.portfolio-4 {
  background-color: var(--portfolio4-color);
  overflow: hidden;
}
.portfolio-5 {
  background-color: var(--portfolio5-color);
  overflow: hidden;
}
.portfolio-6 {
  background-color: var(--portfolio6-color);
  overflow: hidden;
}

/* About */
.about {
  background-color: var(--about-color);
}
.btn {
  color: white;
  border: 2px solid white;
}
.btn:hover {
  color: white;
  border: 2px solid white;
  background-color: lightgrey;
}

/* Contact */
.contacts {
  color: var(--header-color);
}
.contacts .row .col > hr {
  border-color: #2c3e50;
}

/* Form */
.form-control {
  border-radius: 0;
  border: 0;
  border-bottom: 1px solid lightgrey;
}

::placeholder {
  color: #140f0f;
}

.form-control:focus {
  box-shadow: none;
  border-color: var(--about-color);
}
.my-btn {
  color: white;
  background-color: var(--about-color);
  border: 2px solid #1abc9c;
  width: 30%;
}
.my-btn:hover {
  color: white;
  border: 2px solid white;
  background-color: lightgrey;
}

/* Footer */
.footer {
  background-color: var(--footer-color);
}
.footer .row {
  height: 100%;
}
.footer .fa-brands {
  display: inline-block;
  font-size: 30px;
  padding: 10px;
  width: 60px;
  height: 60px;
  text-align: center;
  border: 3px solid white;
  border-radius: 50px;
  line-height: 34px;
  margin: 0 5px;
}

.footer .fa-brands:hover {
  border: 3px solid lightgray;
}
.footer .about-a a {
  text-decoration: none;
  color: #1abc9c;
}
.footer p {
  margin-bottom: 0.6rem;
}
.copyright {
  background-color: var(--copyright-color);
}
.copyright .row {
  height: 100%;
}
